.city-detail-container {
  background-color: #FAF6E8;
}

.hero-image{
  height: auto;
  width: 100%;
}

.hero-image-container {
  max-height: 650px;
  overflow: hidden;
}

.city-detail-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-button-container {
  display: flex;
  justify-content: center;
}

.host-button {
  background-color: #EF6236;
  border: 2px solid #EF6236;
  border-radius: 10px;
  height: 50px;
  letter-spacing: 2px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  margin-bottom: 40px;
  padding: 0px 10px;
  font-weight: 600;
  margin-bottom: 40px;
}

.host-button:active {
  top: 2px;
}
