.city-detail-container {
  background-color: #FAF6E8;
}

.hero-image{
  height: auto;
  width: 100%;
}

.hero-image-container {
  max-height: 650px;
  overflow: hidden;
}

.city-detail-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
