.dashboard-index {
  background-color: #FAF6E8;
}

.dashboard-joins-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dashboard-hosts-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
