.footer {
  display: flex;
  justify-content: center;
  background-color: #F7BF4D;
}

.footer-container {
  width: 70%;
  display: flex;
}

.nav-route-links {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-routes:hover {
  color: #EF6236;
}


.brief-about {
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 1px solid white;
}


.footer-p {
  color: white;
  margin: 0.8125em;
}

.brief-about {
  margin: 40px 40px
}
