.homepage-container {
  background-color: #FAF6E8;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3ECCE;
}

.homepage-info-container {
  display: flex;
  justify-content: center;
}

.homepage-info {
  display: flex;
  justify-content: center;
}

.homepage-info-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.homepage-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.homepage-entry {
  display: flex;
  justify-content: center;
  width: 60%;
}

.homepage-blurb {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px;
  min-width: 400px;
}

.homepage-image {
  display: flex;
  flex: 1;
  min-width: 400px;
  min-height: 400px;
  height: 400px;
  width: 400px;
  margin: 0 20px;
}


p {
  font-size: 18px;
  font-weight: 450;
}

.homepage-why {
  margin: 35px;
}

h2 {
  font-weight: 600;
}

.homepage-hero {
  margin: 0 auto;
}

.hero {
  background-image: url("http://res.cloudinary.com/dzbwfwz4j/image/upload/v1495783765/vintage-mug-tea-photos-wood-texture_ynuvb5.jpg");
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
