.main-nav {
  display: flex;
  background: #F5BD4E;
  justify-content: space-around;
  align-items: center;
  font-family: Arial;
  font-size: 18px;
  height: 75px;
  .right-nav {

  }
  .left-nav {

  }
}
