.main-nav {
  display: flex;
  background: #F7C661;
  align-items: center;
  font-family: Arial;
  font-size: 18px;
  height: 75px;
}

img {
  height: 50px;
  width: auto;
}

.logo {
  height: 50px;
  width: auto;
}

.right-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.left-nav {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.image-container {
  display: flex;
  justify-content: center;
}

h2 {
  color: #EF6236;
  font-weight: 600;
  margin-bottom: 18px;
}

.nav-routes {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
  margin: 0 10px 0 10px;
}

.sign-up-style {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.right-nav-contents {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 15px;
}

.nav-emphasis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #F7C661;
  padding: 0 5px 0 5px;
  border: 1px solid white;
  border-radius: 3px;
  height: 30px;
  transition:.3s;
}

.nav-emphasis:hover {
  color: white;
  background-color: #F7C661;
}

.left-nav-content {
  margin-left: 15px;
}
